<section class="min-height-600 bg-custom py-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 text-center">
                <h2>My Projects</h2>
                <p class="text-muted">Here are my latest project i Worked on</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>InventoryAi</h2>
                    </div>
                    <div class="card-body">
                        Count Items with InventoryAi
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>InventoryAi</h2>
                    </div>
                    <div class="card-body">
                        Count Items with InventoryAi
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>InventoryAi</h2>
                    </div>
                    <div class="card-body">
                        Count Items with InventoryAi
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>