.banner-image{
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.pd-0{
    padding: 0 !important;
}

.row-margin-0{
    margin: 0;
}

/* .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    opacity: 0.85;
} */

.banner-text{
    z-index: 10;
}

.card{
    border-radius: 20px;
    position: relative;
    background-color:black;
    z-index: 1;
}

.card::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom right,#f9004d, rgb(8, 8, 8)  
    );
    z-index: -1;
    transition:  0.3s linear;
    opacity: 0;
    border-radius: 20px;
}

.card:hover::before{
    opacity: 1;
    transform:scale(1.03)
}

.card .card-body h2{
    transition: 0.3s ease-in-out;
}


.card .card-body h2:hover{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 6px #580505;
    transform: scale(1.1);
    cursor: pointer;
}


.card-footer{
    background-color:unset;
    border-top: unset;
}


  #particles-js{
      display: flex;
      align-items: center;
      justify-content:center;
      height:400px;
  }

  @media screen and (max-width:1510px){
    .project-list{
      flex-direction: column;
    }
    .project-list .col-md-4{
        max-width:100%;
    }
  }