<section class="bg-custom min-height-700 py-120" id="service">
    <div class="container container-width-70">
        <div class="row">
            <div class="col-lg-12 text-center font-color-white">
                <h2>My Experienced Developments</h2>
                <p>Here are some of my most confident services</p>
            </div>
        </div>
        <div class="row mt-5 justify-content-center" *ngFor="let service of services">
            <div class="col-md-4 mb-6" *ngFor="let data of service">
                <a (click)="selectedService(data.slug)"><div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-braille"></i>
                        </div>
                        <div class="card-title">
                            <h3>{{data.heading}}</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                {{data.servicesMetta}}
                            </p>
                        </div>
                    </div>
                </div></a>
            </div>
        </div>
    </div>
</section>