<section class="bg-black-dark min-height-900 py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center font-color-white">
                <h2>My Awesome Service</h2>
                <p>Here are some of my most confident services</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-6">
                <div class="card border-radius-10">
                    <div class="card-body flex-align-items px-5 py-5">
                        <div class="icon font-size-40-plus ">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="card-title">
                            <h3>Title</h3>
                        </div>
                        <div class="card-body-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>