.intro{
    color:rgb(219, 219, 219);
    min-height: 600px;
    background-size: cover;
}

.img-thumbnail{
    background-color: unset;
    border:none
}

.letter-spacing-custom{
    letter-spacing: 5px;
}