<section class="d-flex container-fluid min-height-900 position-relative" id="index">
    <app-particles></app-particles>
    <div class="container  d-flex justify-content-center align-items-center container-width-70 ">
        <div class="col-lg-12 text-center">
            <span class="text-uppercase letter-spacing-custom font-color-white">Artifical intelligence and Web
                Developer</span>
            <h1 class="font-size-50-plus font-color-white">Hai! I am <span class="font-animate"><strong>Nikhil
                        Pradeep</strong></span>
            </h1>
            <div class="row justify-content-center align-items-center">
                <a class="btn btn-outline-success m-2" href="#contact"><i class="fa fa-envelope m-1"></i>Hire Me</a>
                <a href="{{resume}}" class="btn btn-outline-danger m-2" download><i class="fa fa-download m-1"></i>Resume</a>
            </div>

        </div>
    </div>
</section>
<app-aboutme></app-aboutme>
<section class="bg-black-dark min-height-200 py-5">
    <div class="container min-height-200 d-flex justify-content-center container-width-70">
        <div class="row w-100 text-center align-items-center icons">

            <div class="icon-image m-3">
                <img class="img-thumbnail" src="../../../../static/images/ai.png" alt="" height="90" width="90">
            
            </div>
            <div class="icon-image m-3">
                <img class="img-thumbnail" src="../../../../../static/images/python.png" alt="" height="90" width="90">
              
            </div>

            <div class="icon-image m-3">
                <img class="img-thumbnail" src="../../../../../static/images/django.png" alt="" height="90" width="90">
    
            </div>


            <div class="icon-image m-3">
                <img class="img-thumbnail" src="../../../../../static/images/angular_solidBlack.svg" alt="" height="90"
                    width="90">
    
            </div>


            <div class="icon-image m-3">
                <img class="img-thumbnail" src="../../../../../static/images/typescript-2336947-1982828.png" alt=""
                    height="90" width="90">
    
            </div>

        </div>
    </div>
</section>
<app-services></app-services>
<app-projects></app-projects>
<app-hireme></app-hireme>