<section class="container-fluid" id="index">
    <app-particles></app-particles>
    <div class="container min-height-900 d-flex justify-content-center align-items-center container-width-70 position-relative">
        <div class="col-lg-12 text-center">
            <span class="text-uppercase letter-spacing-custom font-color-white">Artifical intelligence and Web
                Developer</span>
            <h1 class="font-size-50-plus font-color-white">Hai! I am <span class="font-animate"><strong>Nikhil
                        Pradeep</strong></span>
            </h1>
            <a class="btn btn-success btn-sm" href="#contact">Hire Me</a>
        </div>
    </div>
</section>
<app-aboutme></app-aboutme>
<section class="bg-black-dark min-height-200 py-5">
    <div class="container min-height-200 d-flex justify-content-center container-width-70">
        <div class="row w-100 text-center align-items-center justify-content-between">

            <div class="icon-image">
                <img class="img-thumbnail" src="../../../../static/images/ai.png" alt="" height="90" width="90">
                <!-- <div class="icon-name">
                    <span>Artifical Intelligence</span>
                </div> -->
            </div>
            <div class="icon-image">
                <img class="img-thumbnail" src="../../../../../static/images/python.png" alt="" height="90" width="90">
                <!-- <div class="icon-name">
                    <span>Python</span>
                </div> -->
            </div>

            <div class="icon-image">
                <img class="img-thumbnail" src="../../../../../static/images/django.png" alt="" height="90" width="90">
                <!-- <div class="icon-name">
                    <span>Django</span>
                </div> -->
            </div>


            <div class="icon-image">
                <img class="img-thumbnail" src="../../../../../static/images/angular_solidBlack.svg" alt="" height="90"
                    width="90">
                <!-- <div class="icon-name">
                    <span>Angular</span>
                </div> -->
            </div>


            <div class="icon-image">
                <img class="img-thumbnail" src="../../../../../static/images/typescript-2336947-1982828.png" alt=""
                    height="90" width="90">
                <!-- <div class="icon-name">
                    <span>Typescript</span>
                </div> -->
            </div>

        </div>
    </div>
</section>
<app-services></app-services>
<app-projects></app-projects>
<app-hireme></app-hireme>