<footer class="container-fluid bg-black-dark min-height-100 d-flex">
    <div class="container container-width-70 d-flex">
        <div class="row font-color-white align-items-center w-100 text-center align-flex-items-between">
            <div class="logo">
                <h3>LOGO</h3>
            </div>
            <div class="social">
                SOCIAL
            </div>
            <div class="copyright">
                <span>Copyright &copy; 2021</span>
            </div>
        </div>
    </div>
</footer>