<section class="container-fluid bg-black-dark">
    <div id="particles-js">
        <div class="container">
            <h1>{{heading}}</h1>
            <span class="text-muted">{{tagline}}</span>
        </div>
    </div>
    <div class="row bg-custom py-120" *ngFor="let project of data">
            <div class="container container-width-70">
            <div class="col-xl-12 d-flex align-items-center flex-column">
                <div class="col-md-8">
                    <div class="project-title font-color-white">
                        <h1>{{project.projectName}}</h1>
                    </div>
                    <hr>
                    <div class="project-meta font-color-white my-5">
                        <h5>{{project.projectMeta}}</h5>
                    </div>
                    <div class="project-description font-color-white lt-space-2 my-5">
                        <p>{{project.projectDescription}}</p>
                    </div>
                    <div class="row mt-5 mb-3 flex-column text-align flex-responsive" *ngFor="let technology of tech">
                        <div class="col font-color-white">
                            <h4>Stack Used</h4>
                        </div>
                        <ul class="ul-custom-class list-group font-color-white">
                            <li class="list-group-item d-flex align-items-center" *ngFor="let stack of technology">
                                <img src="{{stack.techIcon}}" alt="angular-logo" class="rounded mr-1">{{stack.techName}}</li>
                        </ul>
                        <div class="col-xl-12 my-2">
                        </div>
                    </div>  
                    <div class="project-repo my-3">
                        <a type="button" href="{{project.projectGithub}}" target="_blank" class="btn btn-outline-dark p-2 btn-lg"><i class="fa fa-github mr-2"></i>Source</a>
                    </div>
                </div>
                <div class="col-md-10 mt-5 d-flex justify-content-center banner-image">
                    <img class="project-thumbnail" src="{{project.projectThumpnailImage}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>