<section class="container-fluid bg-black-dark">
    <div id="particles-js">
        <h1>Hello World</h1>
    </div>
    <div class="row bg-custom py-120">
            <div class="container container-width-70">
            <div class="col-xl-12 d-flex align-items-center flex-column">
                <div class="col-md-8">
                    <div class="project-title font-color-white">
                        <h1>Inventory Ai</h1>
                    </div>
                    <hr>
                    <div class="project-meta font-color-white my-5">
                        <h5>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</h5>
                    </div>
                    <div class="project-description font-color-white lt-space-2 my-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commod viverra
                            maecenas accumsan lacus vel facilisis. ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row my-5 flex-column text-align flex-responsive">
                        <div class="col font-color-white">
                            <h4>Developed on</h4>
                        </div>
                        <ul class="ul-custom-class list-group font-color-white">
                            <li class="list-group-item d-flex align-items-center">
                                <img src="assets/static/angular_solidBlack.png" alt="angular-logo" class="rounded">Angular</li>
                            <li class="list-group-item d-flex align-items-center">
                                <img src="assets/static/django.png" alt="angular-logo" class="rounded mr-1">
                                Django</li>
                            <li class="list-group-item d-flex align-items-center">
                                <img src="assets/static/python.png" alt="angular-logo" class="rounded mr-1">
                                Python</li>
                            <li class="list-group-item d-flex align-items-center">
                                <img src="assets/static/typescript-2336947-1982828.png" alt="angular-logo" class="rounded mr-1">
                                TypeScript</li>
                            <li class="list-group-item d-flex align-items-center">
                                <img src="assets/static/Postgresql_elephant.png" alt="angular-logo" class="rounded mr-1">
                                Postgress</li>
                        </ul>
                        <div class="col-xl-12 my-2">
                        </div>
                    </div>  
                    <div class="project-repo my-5">
                        <button class="btn btn-outline-dark p-2 btn-lg"><i class="fa fa-github mr-2"></i>Source</button>
                    </div>
                </div>
                <div class="col-md-10 mt-5 d-flex justify-content-center banner-image">
                    <img class="project-thumbnail" src="assets/banners/123.gif" alt="">
                    <!-- <div class="project-thumbnail">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>