{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webiste</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="ang/favicon.ico">
    <link rel="stylesheet" href="{% static 'assets/angular/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
	<app-root>
    <div id="centerdiv">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </app-root>
  <script type="text/javascript" src="{% static 'assets/angular/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/angular/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/angular/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/angular/main.js' %}"></script>
</body>
</html>