<section class="bg-custom min-height-600 d-flex align-items-center py-120" id="about">
    <div class="container container-width-70">
        <div class="row">
            <div class="col-md-5">
                <img class="image-responsive" src="../../../../../static/images/about-me.png" alt="">
            </div>
            <div class="col-md-7">
                <div class="section-title">
                    <h2>About Me</h2>
                    <p class="text-muted">{{aboutDescription}}</p>
                </div>
                <div class="card">
                    <div class="card-header nav-custom-style">
                        <ul class="nav d-flex justify-content-between font-size-adjust mode">
                            <li [class.active]="viewMode == 'Skills'"><a type="button"
                                    (click)="viewMode = 'Skills'">Skills</a></li>
                            <li [class.active]="viewMode == 'Experience'"><a type="button"
                                    (click)="viewMode = 'Experience'">Experience</a></li>
                            <li [class.active]="viewMode == 'Certifications'"><a type="button"
                                    (click)="viewMode = 'Certifications'">Certifications</a></li>
                            <li [class.active]="viewMode == 'Education'"><a type="button"
                                    (click)="viewMode = 'Education'">Education</a></li>
                        </ul>
                    </div>
                    <div class="card-body" [ngSwitch]="viewMode">
                        <div class="col font-custom-color" *ngSwitchDefault>
                            <div class="card fade-in" *ngFor="let skill of skills">
                                <div class="card-body" *ngFor="let data of skill">
                                    <h3>{{data.heading}}</h3>
                                    <p class="text-muted">{{data.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col font-custom-color" *ngSwitchCase="'Experience'">
                            <div class="card fade-in" *ngFor="let experiences of experience">
                                <div class="card-body" *ngFor="let data of experiences">
                                    <h3>{{data.designation}}</h3>
                                    <h5>{{data.companyName}}</h5> <p class="text-muted">{{data.startedYear | date}} - {{data.presentWorking ? 'Present' : data.endYear | date}}</p>
                                    
                                     
                                </div>
                            </div>
                        </div>
                        <div class="col font-custom-color" *ngSwitchCase="'Certifications'" >
                            <div class="card fade-in" *ngFor="let certification of certifications" >
                                <div class="card-body" *ngFor="let data of certification">
                                    <h3>{{data.organisation}}</h3>
                                    <p class="text-muted">{{data.cource}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col font-custom-color" *ngSwitchCase="'Education'">
                            <div class="card fade-in" *ngFor="let education of educations">
                                <div class="card-body" *ngFor="let data of education">
                                    <h3>{{data.stream}}</h3>
                                    <div class="inline-items">
                                        <h6 class="mr-4">{{data.levelOfEducation}}</h6>
                                        <p class="text-muted">{{data.endYear}}</p>
                                    </div>
                                    <p class="text-muted">{{data.university}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>