<section class="container-fluid min-height-700 bg-black-dark py-120" id="contact">
    <div class="container container-width-70">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title font-color-white">
                    <h1>Hire Me</h1>
                    <p>I am available for Artifical Intelligence and Web Developement</p>
                </div>
                <div class="contact-form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name*">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email*">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="10" class="form-control text-area" placeholder="Message*"></textarea>
                        </div>
                    </form>
                </div>
                <div class="submit-button">
                    <button class="btn btn-outline-danger btn-lg"><i class="fa fa-paper-plane mx-1"></i>Submit</button>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="contact-image">
                    <img src="../../../../../static/images/cartoon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>